<div class="container">
<h2 class="text-center">About me!</h2>
<div class="col-md-12">
<p class="well text-muted">I am a <mark><b>full stack developer</b></mark>, I code everything be it front end,
  back end android app or anything else if it is even remotely
  related to computers I am up for it.
I am currently enrolled as a <mark>student in Jaypee institute of information Technology</mark> in B.Tech Computer Science.
</p>
<h3 >Expertise</h3>

<p class="well text-muted">
My area of <mark><b>expertise is Scalable web apps and Restful web services</b></mark>,
 It has been my goal to be a one stop shop for any project and I strongly oppose the idea of having a team of 20 for a 10 week project. I believe in getting to market first and then improving overtime.
</p>
<h3 >Interests</h3>
<p class="well text-muted">
My interests include networking and distributed systems, I have been trying to wrap my head around Machine learning and AI in my free time.Talking of the UI paradigms I am a supporter of Conversational UI and minimalistic UI.
My previous works involved integrating new components with existing systems so I can do integrations well.
I love working with API based restful backend and like to keep my stuff modular.
</p>

<h3 >Work Environment</h3>
<p class="well text-muted">
I have been lucky to have worked under amazing managers and genius co-workers. I fit well in a distributed team and can get things done faster and better when others on the team are open to suggestions. I am yet to work in a full time office environment so I can't comment on that.

Pajamas are like thinking hat for me, my hostel room is my office and telecommuting is my favorite mode of travel.
</p>

<p class="well h4">
Most Importantly I am a problem solver and a fast learner, you come to me with a problem and leave with a solution,
might not be the best solution but <i><b>It Works!</b></i> and that's what matters when you are just getting started.
</p>

</div>
<!-- <div class="col-md-4">
<ul>
  <li>Loking for</li>
</ul>
</div> -->
</div>
