<div class="jumbotron ng-scope">
  <h2 class="text-info">Want to get in touch ?</h2>
  <br>
  <div class="container">
    <table class="table table-hover table-bordered">
      <tbody> <tr> <td>Email</td>
        <td><a href="mailto:gaurav@gauravshukla.xyz">gaurav@gauravshukla.xyz</a></td>
      </tr>
      <tr>
        <td>Facebook</td>
        <td><a href="https://facebook.com/deathping1994">deathping1994</a></td>
      </tr>
       <tr>
          <td>Phone</td>
           <td><a href="tel:+91-837-584-7862">+91-837-584-7862</a></td>
          </tr>
           <tr> <td>Have a Question?</td>
              <td><a href="https://github.com/deathping1994/deathping1994.github.io/issues/new">Ask me anything</a></td>
             </tr> </tbody> </table> </div>
<br>
<strong>Report issues realted to website on
  <a href="https://github.com/deathping1994/deathping1994.github.io/issues/new">Github Issue tracker</a>
</strong> </div>
