<div class="container">
<h2>Interested in hiring me?</h2>
<div class="panel">
<p class=" well text-info">
  I am a <mark><b>full stack developer</b></mark>, I code everything be it front end,
    back end android app or anything else if it is even remotely
    related to computers I am up for it.
<br/>
  I have a knack for perfection so you can expect nothing less from me. Also I fit very well in any team. I beleive in emergent
   roles so I can be a newbie in one team while mentor in other. I find my spot very quickly in a team.


</p>
<p class="well text-info">
I am quite an explorer, the same is visible from my work, I explore new technologies, I have varied field of interests.
My expertise is Building scalable and restful web apps. I am not much of a designer but then I know bootstrap.

</p>
<p class="text-warning">
I work best when requirements are clear or when I can relate to a problem. So that's one of the short comings that has worked well for me till now.
</p>
<p class=" well text-info">
  As I am currently pursuing my Graduation so I am not available fulltime but I freelance and I can also manage part time.
So if you are interested then give me a call on <b><a href="tel:+918375847862">+91-837-584-7862</a></b>,
 for other options to get in touch wth me see <a href="#contact">contact page.</a>
</p>
<h3>Still Confused?</h3>
<p class=well>
<a href="#/contact">Give me a call or drop me an E-mail, I'll be pleased to address your concerns.</a> Also have a look at <a href="#/skills">Skills Page</a> and my <a href="#/Projects">Projects</a>
</p>
</div>
</div>