<div class="col-md-8">
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading h3">Things I work on ...</div>
  <!-- Table -->
  <table class="table table-responsive">
    <tr ng-repeat="project in projects">
    	<td><iframe width="560" height="315" ng-src="{{project.src | trustAsResourceUrl}}" frameborder="0" allowfullscreen></iframe>
    	</td>
    	<td class="well">
    		<p class="h2">{{project.name}}</p>
    		<p class="text-muted">{{project.description}}</p>
    	</td>
    </tr>
  </table>
</div>
</div>
<div class="col-md-4 panel">
<h2>And other Open Source Projects I contribute to..</h2>
  <ul>
    <li ng-repeat="contribution in contributions"><h4 class="text-success"><a ng-href="{{contribution.url}}">{{contribution.name}}</a></h4>
    <p class="text-success well" ng-bind="contribution.description"></p>
    </li>
  </ul>
</div>